.card {
  width: 65%;
  margin: 40px auto;
  border: none;
}
.card .card__right {
  margin-left: 20px;
}
.card .card__top img {
  width: 500px;
  height: 350px;
}

.card .card__right .card-body {
  padding-bottom: 0;
}
.card .card__right .card-title {
  font-size: 24px;
  font-weight: 700;
  inline-size: 70%;
}

.card .card__right .card__price-first {
  text-decoration: line-through;
  font-size: 20px;
  color: #777777;
  margin-right: 15px;
  font-weight: 500;
}
.card .card__right .card__price-second {
  font-size: 20px;
  color: black;
  font-weight: 500;
}

.card .card__right .list-group-item {
  inline-size: 70%;
}
.card .card__right .list-group-item i {
  color: #4786fe;
  margin-right: 10px;
}
.card .btn {
  background-color: #4786fe;
  color: white;
  border-radius: 15px;
  margin: 15px 10px 30px;
}

.card .btn-group p {
    margin: 10px 20px;
  }
  

icon-shape {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.icon-sm {
  width: 2rem;
  height: 2rem;
}



.card .card__right .card__content img {
  width: 30px;
  height: 30px;
  margin: 5px;
}
